@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-sans font-normal;
	}
	body {
		@apply overscroll-contain;
	}
}

@layer utilities {
	.scrollbar-hidden {
		scrollbar-width: none;
	}
	.scrollbar-stable {
		overflow: scroll;
		@supports (scrollbar-gutter: stable) {
			overflow: auto;
			scrollbar-gutter: stable;
		}
	}
}
